In [42]:
A = ["Ali","Hamza","Usman"]
B = [ [ 23, 29, 32], [ 5.8, 5.9, 6.1]]
l=len(A)
for i in range(0,l):
    attr=[item[i] for item in B]
    
    print(f"{A[i]} is {attr[0]} years old and height is {attr[1]} ft.")

Ali is 23 years old and height is 5.8 ft.
Hamza is 29 years old and height is 5.9 ft.
Usman is 32 years old and height is 6.1 ft.

In [22]:
sList = ["Apple","Banana","Apple","Kiwi"]
oList = []
[oList.append(i) for i in sList if i not in oList]
print("List without duplicate elements",oList)

List without duplicate elements ['Apple', 'Banana', 'Kiwi']

In [36]:
EmpList=  ['user1@capgeminie.com','user2@Tcs.com','user3@mindtech.com']  
uList=list(map(lambda x:x.split('@')[0],EmpList))
compList=list(map(lambda x:x.split('@')[1],EmpList))
for i in range(0, len(uList)):
    print(f"username : {uList[i]} and company: {compList[i]}")

username : user1 and company: capgeminie.com
username : user2 and company: Tcs.com
username : user3 and company: mindtech.com

In [42]:
listA=[1,3,6,78,35,55]  
listB=[12,24,35,55,88,78,155]

def listIntersect(listA, listB):
    return list(set(listA) & set(listB))
print(listIntersect(listA, listB))

[35, 78, 55]

In [4]:
def sum_recursive (start,end):
    if end<=start:
        return end
    else:
        return end+sum_recursive(start,end-1)
    
print (sum_recursive(1,10))

55

In [14]:
listA=[1,3,6,78,35,55]  
listB=[12,24,35,55,88,78,155]

list3=[value for value in listA if value in listB]
print("Interscection of listA and ListB is:",list3)

Interscection of listA and ListB is: [78, 35, 55]

In [24]:
import random 
word_list = ['apple','banana','cherry','dates','etc'] 
list_100=[]
res_list=[]
for i in range(100):
    list_100.append(random.choice(word_list))
print(list_100)

l=[res_list.append(i) for i in list_100 if i not in res_list]
print(res_list)

['apple', 'dates', 'apple', 'etc', 'apple', 'dates', 'dates', 'cherry', 'apple', 'etc', 'etc', 'cherry', 'apple', 'dates', 'apple', 'etc', 'banana', 'etc', 'apple', 'etc', 'banana', 'etc', 'etc', 'dates', 'banana', 'dates', 'dates', 'dates', 'banana', 'dates', 'apple', 'banana', 'etc', 'apple', 'banana', 'apple', 'banana', 'etc', 'apple', 'dates', 'apple', 'apple', 'banana', 'apple', 'dates', 'apple', 'apple', 'banana', 'dates', 'dates', 'apple', 'etc', 'etc', 'cherry', 'cherry', 'cherry', 'etc', 'banana', 'apple', 'dates', 'cherry', 'apple', 'apple', 'banana', 'etc', 'cherry', 'etc', 'apple', 'banana', 'apple', 'apple', 'cherry', 'etc', 'banana', 'apple', 'dates', 'banana', 'cherry', 'banana', 'banana', 'etc', 'dates', 'apple', 'dates', 'etc', 'apple', 'apple', 'cherry', 'apple', 'banana', 'banana', 'cherry', 'etc', 'banana', 'banana', 'apple', 'cherry', 'banana', 'cherry', 'apple']
['apple', 'dates', 'etc', 'cherry', 'banana']

In [38]:
EmpList=  ['user1@capgeminie.com','user2@Tcs.com','user3@mindtech.com']
p=[]
for i in EmpList:
    p=i.split("@")
    print(f"username is {p[0]} comapny name is {p[1]} ")

username is user1 comapny name is capgeminie.com
username is user2 comapny name is Tcs.com
username is user3 comapny name is mindtech.com

In [1]:
files = ['abc/xyz/inbound/abc.txt', 'abc/add/acc.txt','abc/avb.txt']
p=[]
q=[]
for i in files:
    p.append(i.split('/'))

for item in p:
   
    for j in item:
        if str(j).endswith('.txt'):
            q.append(j)


for items in q:
    print(f"file name is:{items.split('.')[0]}")

file name is:abc
file name is:acc
file name is:avb

In [3]:
a = '%%%aditya%%aware%%%dinesh%%'
b = 'aditya%aware'

p=[]

p=a.split('%%')
print(p)

['', '%aditya', 'aware', '%dinesh', '']

In [4]:
array = [
   [1, 2, 3],
   [4, 5, 6],
   [7, 8, 9]
]

result=list(map(sum,array))
print(result)

[6, 15, 24]

In [1]:
#find even number list using filter
listB=[12,24,35,55,88,78,155]
def even(no):
    if no%2==0:
        return True
    
evenlist=list(filter(even,listB))
print(evenlist)

[12, 24, 88, 78]

In [10]:
listB=[12,24,35,55,88,78,155]
list(filter(lambda x:x%2==0,listB))

[12, 24, 88, 78]

In [11]:
listB=[12,24,35,55,88,78,155]
list(filter(lambda x:x>60,listB))

[88, 78, 155]

In [14]:
laptops={"lenova":45000,"Hp":60000,"Accer":35000,"macbook":120000}

list(filter(lambda x:laptops[x]<50000,laptops))

['lenova', 'Accer']

In [6]:
#find the sum of element nearest to zero

def closestetToZero(arr):
    l=len(arr)
    if l<2:
        print("Invalid array")
        
    left_min=0
    right_min=1
    sum_min=arr[0]+arr[1]
    #print(sum_min)
    for i in range(0,l):
        for j in range(i+1,l):
            sum1=arr[i]+arr[j]
            #print(sum1)
            if abs(sum_min)>abs(sum1):
                sum_min=sum1
                left_min=i
                right_min=j
    
    print(arr[left_min],arr[right_min])

In [7]:
arry=[-3,10,8,-2,4,1]

closestetToZero(arry)

-3 4

In [61]:
def closTozero(arr1):
    le=len(arr1)
    l1_min=0
    r1_min=1
    sum_min1=arr1[0]+arr1[1]
    for i in range(0,le):
        for j in range(i+1,le):
            sum1=arr1[i]+arr1[j]
            if abs(sum_min1)> abs(sum1):
                sum_min1=sum1
                l1_min=i
                r1_min=j
    print("pair whoese sum near to zeroo is:","(",arr1[l1_min],arr1[r1_min],")")

In [62]:
arry=[-3,10,8,-2,4,1,-1]
closTozero(arry)

pair whoese sum near to zeroo is: ( 1 -1 )

In [7]:
#fing sum of element in array equat to target

def sumTarget(arr,target):
    l=len(arr)
    for i in range(0,l):
        for j in range(i+1,l):
            sum=arr[i]+arr[j]
            if target==sum:
                print("pair whoese sum is equal to target is:(",arr[i],arr[j],")","and their index are","(",i,j,")")

In [8]:
arr=[1,2,3,4,5,6,7,8]
target=9

sumTarget(arr,target)

pair whoese sum is equal to target is:( 1 8 ) and their index are ( 0 7 )
pair whoese sum is equal to target is:( 2 7 ) and their index are ( 1 6 )
pair whoese sum is equal to target is:( 3 6 ) and their index are ( 2 5 )
pair whoese sum is equal to target is:( 4 5 ) and their index are ( 3 4 )

In [12]:
list1=[2,3,4,5,6,3,4,2]


[orignal.append(i) for i in list1 if i not in orignal]

print(orignal)

[2, 3, 4, 5, 6]

In [17]:
list1=[2,3,4,5,6,3,4,2]
even=[]
[even.append(i) for i in list1 if i%2==0]
print(even)

[2, 4, 6, 4, 2]

In [19]:
str="hello world"
str1=""

for i in str:
    str1=i+str1
print(str1)

dlrow olleh

In [23]:
even=[]

[even.append(i) for i in range (0,50) if i%2==0]
print(even[:11])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [48]:
str="Happy Birthday to you #$"
#up=str.upper()
#print(up)
out=""
for i in str:
    if i.islower():
        out=out+i.upper()
    else:
        out=out+i.lower()
print(out)

hAPPY bIRTHDAY TO YOU #$

In [75]:
#generator

def fib(limit):
    a,b=0,1
    
    while a < limit:
        yield a
        a,b=b,a+b

In [76]:
x=fib(5)

for i in x:
    print(i)

0
1
1
2
3

In [84]:
list1=[2,3,4,5,6,3,4,2]
[i for i in list1 if i%2==0]
list(map(lambda x:x**2,list1))
#list(filter( lambda x: x%2!=0,list1))

[4, 9, 16, 25, 36, 9, 16, 4]

In [87]:
def fact(n):
    if n==1:
        return n
    else:
        return (n*fact(n-1))

In [90]:
fb=fact(3)
print(fb)

6

In [97]:
def addf(start,end):
    if end==start:
        return end
    else:
        return (end+addf(start,end-start))

In [98]:
out=addf(1,10)
print(out)

55

In [4]:
def decor(fun):
    def inner():
        result=addition()
        num3=int(input("please end 3 no"))
        result=result+num3
        return result
    return inner
        


def addition():
    num1=int(input("please enter no:"))
    num2=int(input("please end no2"))
    result=num1+num2
    return result

In [5]:
ad=decor(addition)
ad()

please enter no:2
please end no23
please end 3 no3

8

In [1]:
str=[1,2,3,4,5,6,7]
print(str[-1:-2])

[]

In [1]:
print("[python]*2")

[python]*2

In [22]:
def prime(num):
    flag=False
    if num==1:
        print(num,"is not prime number")
    elif num>1:
        for i in range(2,num):
            if num%i==0:
                flag=True
                break
    if flag:
        print(num,"is not Prime number")
    else:
        print(num," is prime number ")

In [23]:
prime(7)

7  is prime number

In [2]:
import re

str1="Sachin score is 88 and Dhoni score is 99"

score=re.findall('\d{2}',str1)
name=re.findall('([A-Z][a-z]*)',str1)
print(score)
print(name)

['88', '99']
['Sachin', 'Dhoni']

In [8]:
s = 'GeeksforGeeks: A computer science portal for geeks'

<re.Match object; span=(0, 4), match='Geek'>

In [16]:
even=[i for i in range(1,50) if i%2==0]
print(even[:10])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
str1="f3a2r2ah"
print(str1.upper())
print(str1.swapcase())
print(str1[::-1])
print(str1[-1:-4])
for i in str1:
    if i.isalpha():

FARAH
FARAH
haraf

In [3]:
list1=['sachin','swara','Rahul','Tina','swati']

list(filter(lambda x:str(x).startswith('s'),list1))

['sachin', 'swara', 'swati']

In [ ]:
S='aaabbbccaabb'
#Output ='3a3b2c2a2b'

l=len(S)


output=" "
count=0
char=S[0]

for i in S:
    if i==char:
        count+=1
    else:
        output=output+str(count)+char
       
        count=1
        char=i
output=output+str(count)+char
print(output)

In [3]:
list1=[2,3,4,5,6,3,4,2]
#s=set(list1)
print(list(set(list1)))

[2, 3, 4, 5, 6]

In [15]:
s="i.like.this.program.very.much"
l=[]

string=s.split(".")[::-1]
for i in string:
    l.append(i)
print(".".join(l))

much.very.program.this.like.i

In [16]:
#output=243+876=1119 out=[9,1,1,1]
l1=[3,4,2]
l3=[6,7,8]
l2=l1[::-1]
l4=l3[::-1]
total=0
str1=""
str2=""
print(l2)
print(l4)
for i in l2:
    str1=str1+str(i)
for j in l4:
    str2=str2+str(j)
total=int(str1)+int(str2)
print(total)

out=[]
max1=0
while total>0:
    digit=total%10
    if(digit>max1):
        max1=digit
    
    out.append(digit)
    total=total//10
print(out)
print(max1)

[2, 4, 3]
[8, 7, 6]
1119
[9, 1, 1, 1]
9

In [3]:
l1= ['Delhi', 71, 'Mumbai', 42]
res_dict={l1[i]:l1[i+1] for i in range(0,len(l1),2)}
print(res_dict)

{'Delhi': 71, 'Mumbai': 42}