In [1]:
#1.list of dictionary sorted by price
from operator import itemgetter
lis=[{'item':'Tv','price':30000},
   {'item':'AC','price':35000},
    {'item':'Refridgerator','price':36000}]

print("list sorted by price")
print(sorted(lis,key=lambda i:i['price'],))


print("list sorted by name")
print(sorted(lis,key=lambda i:i['item']))

print("List sorted in desendig order")
print(sorted(lis,key=lambda i:i['price'],reverse=True))

print("sort list using itemgetter method")
print(sorted(lis,key=itemgetter('price')))

list sorted by price
[{'item': 'Tv', 'price': 30000}, {'item': 'AC', 'price': 35000}, {'item': 'Refridgerator', 'price': 36000}]
list sorted by name
[{'item': 'AC', 'price': 35000}, {'item': 'Refridgerator', 'price': 36000}, {'item': 'Tv', 'price': 30000}]
List sorted in desendig order
[{'item': 'Refridgerator', 'price': 36000}, {'item': 'AC', 'price': 35000}, {'item': 'Tv', 'price': 30000}]
sort list using itemgetter method
[{'item': 'Tv', 'price': 30000}, {'item': 'AC', 'price': 35000}, {'item': 'Refridgerator', 'price': 36000}]

In [2]:
#2.convert multiple list into single list
from itertools import chain
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list3=[11,12,13,14,15]

print("list1",list1)
print("list2",list2)
print("list3",list3)
#using + operator
list_1=list1+list2+list3

print("Combined list is",list_1)

#using itertools.chain function
result_list=[]
result_list=list(chain(list1,list2,list3))
print("Combined list is"+ str(result_list))

list1 [1, 2, 3, 4, 5]
list2 [6, 7, 8, 9, 10]
list3 [11, 12, 13, 14, 15]
Combined list is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Combined list is[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [3]:
# 3.find even and odd numbers in list and sum of element

def Splitoddeven(A):
    evenlist=[]
    oddlist=[]
    for i in A:
        if i%2==0:
            evenlist.append(i)
            
        else:
            oddlist.append(i)
    print("Even list",evenlist)
    print("Sum of even list",sum(evenlist))
    print("Odd list",oddlist)
    print("Sum of odd list",sum(oddlist))

In [4]:
A=[]
sumlist=0
n=int(input("Enter the size of list"))
print("Enter numbers in list")
for i in range(n):
    k=int(input(""))
    A.append(k)
    sumlist=sumlist+k
print("given list is",A)
print("Sum of element in list",sumlist)
#sum of element using sum method
sum_list=sum(A)
print("Sum of element in list",sum_list)
Splitoddeven(A)

Enter the size of list5
Enter numbers in list
1
2
3
4
5
given list is [1, 2, 3, 4, 5]
Sum of element in list 15
Sum of element in list 15
Even list [2, 4]
Sum of even list 6
Odd list [1, 3, 5]
Sum of odd list 9

In [69]:
#4.Expecting function to find the number divisible by 7 but not multiple of 5 between 2000 and 2010
def CustomFun():
    for i in range(2000,2021):
        if(i%7==0 and i%5 != 0):
            print(i,",")

In [70]:
CustomFun()

2002 ,
2009 ,
2016 ,

In [7]:
#5.variable to dictionary
dict={}
name="farah"
Age=32
salary=50000

for i in ['name','Age','salary']:
    dict[i]=eval(i)
    
print(dict)

{'name': 'farah', 'Age': 32, 'salary': 50000}

In [8]:
#write code for Pattern

for i in range(5):
    for j in range(i+1):
        print('*', end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [9]:
#write code for Pattern

for i in range(5,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print("")

* * * * *
* * * *
* * *
* *
*

In [10]:
#write code for Pattern

asci_value=65
for i in range(5):
    for j in range(i+1):
        print(chr(asci_value),end="")
        asci_value+=1
    print("")
    #asci_value+=1
    asci_value=65

A
AB
ABC
ABCD
ABCDE

In [11]:
#convert 2 list into Dictionary

dict={}
listK = ["Mon", "Tue", "Wed"]
listV = [3, 6, 5]
#using dictionary comprehension
res={listK[i]:listV[i] for i in range(len(listK)) }


for key in listK:
    for value in listV:
        dict[key]=value
        listV.remove(value)
        break
        
print(dict)

{'Mon': 3, 'Tue': 6, 'Wed': 5}

In [12]:
res

{'Mon': 3, 'Tue': 6, 'Wed': 5}

In [13]:
#remove duplicate element from list

list_value1=[12,15,11,12,8,15,3,3] 
print("Given List is",list_value1)
res_list=[]
res_list1=[]
for i in list_value1:
    if i not in res_list:
        res_list.append(i)
        
print("List without duplicate element is",res_list)


#using List comprehension
[res_list1.append(i) for i in list_value1 if i not in res_list1]
print("List without duplicate element is",res_list1)

#count numbers in list
{i:list_value1.count(i) for i in list_value1}

Given List is [12, 15, 11, 12, 8, 15, 3, 3]
List without duplicate element is [12, 15, 11, 8, 3]
List without duplicate element is [12, 15, 11, 8, 3]

{12: 2, 15: 2, 11: 1, 8: 1, 3: 2}

In [14]:
str1="pharah"
{i:str1.count(i) for i in str1}

{'p': 1, 'h': 2, 'a': 2, 'r': 1}

In [15]:
# change key to value in dictionary

dict={'name':'Farah','Age':30,'Salary':50000}

dict1={value:key for key,value in dict.items()}
print(dict)
print("After swaping key value")
print(dict1)

{'name': 'Farah', 'Age': 30, 'Salary': 50000}
After swaping key value
{'Farah': 'name', 30: 'Age', 50000: 'Salary'}

In [16]:
#read Dictionary
dict={'name':'Farah','Age':30,'Salary':50000}

dict={key:value for key,value in dict.items()}

#using for loop

for key in dict:
    print(key ,":",dict[key])

name : Farah
Age : 30
Salary : 50000

In [17]:
str="abcd"

lis=[]

for i in range(len(str)-1):
    lis.append(str[i])
print(lis)

['a', 'b', 'c']

In [18]:
#find second smallest element

no_list=[12,3,6,18,29,3,8]
#for
no_set=set(no_list)
print(no_set)
sort_list=sorted(no_set)
print(sort_list)
print("Second smallest element is:",sort_list[1])

{3, 6, 8, 12, 18, 29}
[3, 6, 8, 12, 18, 29]
Second smallest element is: 6

In [19]:
#expected output 2 digit num in list
str="2456789##3"
lis=[]
for i in range(0,len(str),2):
    lis.append(str[i:i+2])

    print(lis)

['24']
['24', '56']
['24', '56', '78']
['24', '56', '78', '9#']
['24', '56', '78', '9#', '#3']

In [20]:
#print only numbers from list
p=  ['python@17','java@20','Hadoop@21']    

lis1=[]

for i in p:
     lis1.append(i.split('@')[1])
print(lis1)

#using map and lambda

lis_1=list(map(lambda x:x.split('@')[1],p))
lis_1

['17', '20', '21']

['17', '20', '21']

In [21]:
#last two number of list
no_list=[12,3,6,18,29,3,8]

print(no_list[-3:])

[29, 3, 8]

In [22]:
#get values of dict
dict={'name':'Farah','Age':30,'Salary':50000}

res=list(dict.values())
res

['Farah', 30, 50000]

In [23]:
#pattern

n=int(input("Enter numbers"))
for i in range(1,n+1):
    print("*"*i)

Enter numbers5
*
**
***
****
*****

In [24]:
n=int(input("Enter numbers"))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    print("*"*i)

Enter numbers5
     *
    **
   ***
  ****
 *****

In [25]:
#MERGE TWO dICTIONARY

x={'a':1,'b':2}
y={'c':3,'d':4}
z={**x,**y}
print(z)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [26]:
import math
conten=dir(math)
print(conten)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [27]:
T=int(input("Enter number of test cases"))

for i in range(0,T):
    c=int(input("Enter Temperature"))
    if c<20:
        
        print("Temp is cold")
    else:
            print("Temp is hot")

Enter number of test cases2
Enter Temperature12
Temp is cold
Enter Temperature25
Temp is hot

In [28]:

# Python3 program to swap first
# and last element of a list


def Swap_list(newlist):
    size=len(newlist)
    temp=newlist[0]
    newlist[0]=newlist[size-1]
    newlist[size-1]=temp
    return newlist

#Driver code

newList = [12, 35, 9, 56, 24]
print("Orignal List",newList)
print("After swapping first element",Swap_list(newList))

Orignal List [12, 35, 9, 56, 24]
After swapping first element [24, 35, 9, 56, 12]

In [29]:
def swap_lists(newlist):
    start,*middle,end=newlist
    
    newlist=[end,*middle,start]
    
    return newlist

#Driver code

In [30]:
newList = [12, 35, 9, 56, 24]
print("Orignal List",newList)
print("After swapping first element",swap_lists(newList))

Orignal List [12, 35, 9, 56, 24]
After swapping first element [24, 35, 9, 56, 12]

In [31]:
str="abcd"

print(str[:3])
print(str[-3:])

abc
bcd

In [32]:
#addition of two number using lambda

add=lambda x,y:x+y

print(add(10,20))

30

In [33]:
#Reverse String

def revers_string(str):
    str1=""
    for i in str:
        str1=i+str1
        
    return str1

str="Hello World"
print("orignal string",str)
print("Reverse string",revers_string(str))

orignal string Hello World
Reverse string dlroW olleH

In [34]:
# Reverse string using slicing
str="Hello World"

str1=str[::-1]

print(str1)
print(str)

dlroW olleH
Hello World

In [35]:
# Remove Duplicate element from string

Str="farah"
t=""
for i in Str:
    if i in t:
        pass
    else:
        t=t+i
print(t)

farh

In [36]:
#fiboniesseries using generator

def fibseries():
    a,b=0,1
    while a<400:
        yield a
        a,b=b,a+b

In [37]:
fib=fibseries()

In [38]:
for i in fib:
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [39]:
#Fibonacci sequence
def fibs(n):
    a,b=0,1
    count=0
    while count<n:
        print(a)
        a,b=b,a+b
        count+=1

In [40]:
fibs(7)

0
1
1
2
3
5
8

In [41]:
#reverse integer


def Revernum(num):
    temp=0
    rev=0
    if n<10:
        return num
    else:
        while num>0:
            temp=num%10
            rev=rev*10+temp
            num=num//10
    return rev

n=int(input("Enter number"))
print("Given number")
revers=Revernum(n)
print("Reverse number is")
print(revers)
if(n==revers):
    print("Given number is palindrome")
else:
    print("Given number is not palindrome")

Enter number23432
Given number
Reverse number is
23432
Given number is palindrome

In [42]:
#chek string is palindrom or not

def strreverse(s):
    str1=""
    for i in s:
        str1=i+str1
    return str1

In [43]:
data=input("Enter string")
print("Given string",data)

rev=strreverse(data)

print("Reverse string is",rev)

if(data==rev):
    print("Given string is palindrom")
else:
     print("Given string is not palindrom")

Enter stringabcba
Given string abcba
Reverse string is abcba
Given string is palindrom

In [44]:
#Error handling with decorator

def Erro_handling(fun):
    def inner_fun(*args,**kwargs):
        try:
            fun(*args,**kwargs)
        except TypeError:
            print(" wrong datatype.")
    return inner_fun

In [45]:

@Erro_handling
def avgr(a,b):
    print((a+b)/2)

In [46]:
avgr(4,'a')

 wrong datatype.

In [47]:
##decorator for separating dictionary keys and values
def decorator(func):
    def innerFun(*args, **kwargs): 
        func(*args, **kwargs)
        keyLis=[]
        valueList=[]
        for key,value in dict.items():
            keyLis.append(key)
            valueList.append(value)
        print("KeyList : ",keyLis)  
        print("ValueList : ",valueList)
    return innerFun
  
@decorator
def dictSeparator(dict):
    pass

In [48]:
dict={'name':'Farah','Age':30,'Salary':50000}
dictSeparator(dict)

KeyList :  ['name', 'Age', 'Salary']
ValueList :  ['Farah', 30, 50000]

In [49]:
#change string element

string="Hello Zold"

li=list(string)
#print(li)
li[6]="W"
#print(li)
"".join(li)

'Hello Wold'

In [50]:
def decor(fun):
    def inner(*args,**kwargs):
        fun(*args,**kwargs)
        keyList=[]
        valueList=[]
        for key,value in dict1.items():
            keyList.append(key)
            valueList.append(value)
        print("KeyList",keyList)
        print("VAlueList",valueList)
    return inner
            
@decor
def dictSeparator(dict1):
    pass

In [51]:
dict1={'name':'Farah','Age':30,'Salary':50000}

dictSeparator(dict1)

KeyList ['name', 'Age', 'Salary']
VAlueList ['Farah', 30, 50000]

In [52]:
#sum of pair in array near to zero

def closeTozero(arr):
    l=len(arr)
    left_min=0
    right_min=1
    sum_min=arr[0]+arr[1]
    for i in range(0,l):
        for j in range(i+1,l):
            sum=arr[i]+arr[j]
            if abs(sum_min)>abs(sum):
                sum_min=sum
                left_min=i
                right_min=j
    print("pair whoes sum near to zero is",arr[left_min],arr[right_min])

In [53]:
arry=[-3,10,8,-2,4,1]
closeTozero(arry)

pair whoes sum near to zero is -3 4

In [54]:
def sumTarge(arr1,target):
    l=len(arr1)
    
    for i in range(0,l):
        for j in range(i+1,l):
            sum=arr1[i]+arr1[j]
            #print(sum)
            if target==sum:
                print("pair are:",arr1[i],arr1[j],"and their index are",i,j)

In [55]:
arr=[2,3,4,7,8,5,1]
sumTarge(arr,9)

pair are: 2 7 and their index are 0 3
pair are: 4 5 and their index are 2 5
pair are: 8 1 and their index are 4 6

In [56]:
def test():
    for i in range(10):
         yield i

In [57]:
a=test()
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
str=[1,2,3,4,5,6,7]
print(str[-1:-2])

In [ ]:
l = [5,6,7,8,9,0]
n = 2
output = [7,8,9,0,5,6]
out=[]
size=len(l)


for i in range(n,size):
    out.append(l[i])
for j in range(0,n):
    out.append(l[j])
print(out)

In [ ]:
#sum of digit of number using lambda eg input=1234 required output=10

sum_digit=lambda num:0 if num==0 else (num%10)+sum_digit(num//10)
print(sum_digit(1234))

In [60]:
#find the prime numbers in given range eg:1 to 10

def primepartion(upper_value):  
    primeList=[] 
    #print ("The Prime Numbers in the range are: ")  
    for number in range (1, upper_value + 1):  
        if number > 1:  
            for i in range (2, number):  
                if number % i == 0:  
                    break  
            else:  
                primeList.append(number) 
    print (primeList)

In [61]:
primepartion(11)

[2, 3, 5, 7, 11]

In [ ]:
""" convert reverse of Binary number to integer like binary value of 50 is 110010 replace 0 to 1 and  1 to 0 i.e 001101 
and its integer value is 13 so input=50 required output is=13 """
a=bin(50)

a=a[2:]
print(a)

out=""

for i in a:
    if i=='1':
        out=out+'0'
    else:
        out=out+'1'
print(out)
final=0
l=len(out)
for i in range(l):
    final=final+(int(out[i])*(2**(l-(i+1))))
print(final)