In [5]:
#MRO example
class A:
    a=10
    print("I am A class")

class B:
    a=20
    print("I am B class")

class C(A,B):
    
    print("I am Child class")
    
obj1=C()
obj1.a

I am A class
I am B class
I am Child class

10

In [6]:
#find unique numbers from list
l=[1,2,2,3,3,4,4]

unique_list=[]

[unique_list.append(i) for i in l if i not in unique_list]
print(unique_list)

[1, 2, 3, 4]

In [10]:
#decorator
def decor(fun):
    def inner():
        out=fun()
        upper_out=out.upper()
        print(upper_out)
    return inner

In [11]:
@decor
def fun():
    return "hello world"

In [12]:
fun()

HELLO WORLD

In [18]:

in_dict={'a':34, 'b':5, 'c':77, 'd':9, 'e':50}

sorted_dict=dict(sorted(in_dict.items(),key=lambda x:x[1],reverse=True))

print(sorted_dict)

out=list(sorted_dict.items())
print(out[1])

{'c': 77, 'e': 50, 'a': 34, 'd': 9, 'b': 5}
('e', 50)

In [34]:
def bublesort(arr):
    l=len(arr)
    temp=0
    for i in range(0,l):
        for j in range(i+1,l):
            if arr[i]>arr[j]:
                temp=arr[i]
                arr[i]=arr[j]
                arr[j]=temp
               
               
    print(arr)

In [35]:
arr=[5,6,7,8,4,2,1]
bublesort(arr)

[1, 2, 4, 5, 6, 7, 8]

In [ ]:
select empsalary from employee;

select emp.name,emp.salry.dept.name from emp
inner join dept
on emp.id=dept.id

In [39]:
#create dataset from dictionary
import pandas as pd


in_dict={'name':['farah','juvi'],
            'salary':[1000,3333]}
df=pd.DataFrame(in_dict)
df

    name  salary
0  farah    1000
1   juvi    3333

In [8]:
#find second highest key value pair from dictionary
in_dict={'a':34, 'b':5, 'c':77, 'd':9, 'e':50}

sorte_dict=dict(sorted(in_dict.items(),key=lambda x:x[1],reverse=True))
print(sorte_dict)

out=list(sorte_dict.items())
key_out=list(sorte_dict.keys())
value_out=list(sorte_dict.values())
#print(key_out)
#print(value_out)
print(out[1])

{'c': 77, 'e': 50, 'a': 34, 'd': 9, 'b': 5}
('e', 50)